header{
    background: gray;
}
article{
    <text="lksajdlksajdlksajdlksajdklsajdlksjdlksajdlksajdlksajdlksjdk
    skaldjlksajdlksajdlksjadklsajdlsajdlsajdlsajdlsajdlsajdlksajd
    sakjdklajdklsajdlsajdlsajdlsjadlsjadlsjdklsajdlksajdlksajdl
    skaljdlksajdklsajdlsajdksdlajdklsajdklajdlajdsajdlksajdlksajd
    alskdl;ks;akd;askd;lsakd;lkad;lsakdl;akd;lsakdl;sakdl;sakdaskd
    d;lsakd;lsakld;ka;kds;akdl;sakd;lsakdl;akd;lakdl;akdl;la;skd">
    background: gray;
}
aside{
    background: gray;
}
footer{
   background: gray;
}